Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:annotation>
      <xs:documentation>This file creates the template for the inputing of 10 hotels, used within the XML File</xs:documentation>
    </xs:annotation>
    <xs:element name="Hotels">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Hotel" type="HotelType" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:annotation>
      <xs:documentation>Main parts of the Hotel</xs:documentation>
    </xs:annotation>
    <xs:complexType name="HotelType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Phone" type="xs:string" maxOccurs="unbounded"/>
            <xs:element name="Address" type="AddressType"/>
        </xs:sequence>
        <xs:annotation>
            <xs:documentation>Attribute Rating is Optional</xs:documentation>
        </xs:annotation>
        <xs:attribute name="Rating" type="xs:float" use="optional"/>
    </xs:complexType>

    <xs:annotation>
      <xs:documentation>Main parts of the Addresses</xs:documentation>
    </xs:annotation>
    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="Number" type="xs:string"/>
            <xs:element name="Street" type="xs:string"/>
            <xs:element name="City" type="xs:string"/>
            <xs:element name="State" type="xs:string"/>
            <xs:element name="Zip" type="xs:string"/>
        </xs:sequence>
        <xs:annotation>
            <xs:documentation>NearestAirport attribute is required</xs:documentation>
        </xs:annotation>
        <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
    </xs:complexType>

</xs:schema>    
