Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:annotation>
        <xs:documentation>
            This file creates the template for inputting up to 10 hotels, used within the XML File.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="Hotels">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Hotel" maxOccurs="10" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Main parts of the Hotel</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name" type="xs:string"/>
                            <xs:element name="Phone" type="xs:string" maxOccurs="unbounded"/>
                            <xs:element name="Address">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Number" type="xs:string"/>
                                        <xs:element name="Street" type="xs:string"/>
                                        <xs:element name="City" type="xs:string"/>
                                        <xs:element name="State" type="xs:string"/>
                                        <xs:element name="Zip" type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Rating" type="xs:float" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
